html {
  //background-color: rgba(196, 196, 196, 0.57);
  border: 1px solid;
}

h1 {
  font-size: 7vw;
  line-height: 1vh;
}

form {
  width: 35%;
  margin: 0 auto;
}

.leftparam {
  width: 45%;
  float: left;
}

td {
  background-color: #00a800;
  border: 1px solid black;

  &:hover {
    background-color: lightgreen;
  }
}

#submit {
  $cote: 10vw;
  width: $cote;
  height: $cote;
  border: none;
  background-color: black;
  color: white;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2vw;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  transition: background-color .3s;
  margin: 0 auto;
  display: block;

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    display: block;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    border: 1px dashed white;
  }

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      display: block;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      border: 1px dashed black;
    }
  }

  &:focus {
    outline: none;
  }
}

table#plateau {
  margin: 0 auto;
  border: 2px solid black;

  button {
    $cote: 3vw;
    width: $cote;
    height: $cote;
    border: none;
    background-color: transparent;
    position: relative;

    &:not(.vide) {
      border-radius: 50%;

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        display: block;
        width: 70%;
        height: 70%;
        border-radius: 50%;
      }
    }

    &:focus {
      outline: none;
    }

    &.blanc {
      background-color: white;

      &:after {
        border: 1px dashed black;
      }
    }

    &.noir {
      background-color: black;

      &:after {
        border: 1px dashed grey;
      }
    }
  }
}

#board {
  width: 70%;
  margin: auto;
}

#panelInfo {
  float: left;
  text-align: left;
  width: 30%;
  border: 1px solid;
  padding-left: 5px;
  transform: translateY(25%);

  p {
    font-size: 1.2vw;
  }

  p:first-child {
    font-size: 1.5vw;
  }

  span {
    font-size: 1.5vw;
    font-weight: bold;
  }
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}